$white: #FFFFFF;
$primary:#00bcd4;
$primary-light: #62efff;
$primary-dark: #008ba3;
$secondary:#0097a7;
$secondary-light: #56c8d8;
$secondary-dark: #006978;
$background-color: #eeeeee;
$accent-color: #ff5722;
$accent-light: #ff8a50;
$accent-dark: #c41c00;

$white-accent: #eeeeee;

$material-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$big-material-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
