body {
  font-family: 'sans-serif', 'sans', 'Roboto';
}

.flex-outer {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.margin-auto {
  margin: auto;
}
.max-width {
  width: 100%;
}
.max-height {
  height: 100%;
}
.primary_back {
  height: 100vh;
  background-color: $primary;
  box-shadow: $material-shadow;
  position: relative;
}
.white_accent_back {
  background-color: $white-accent;
  height: 100vh;
  position: relative;
}
.text-center {
  text-align: center;
}
.primary_color {
  color: $primary;
}
.block_header {
  margin-top: 40px;
  font-size: 30px;
}
.bold {
  font-weight: bold;
}
.color_white {
  color: $white;
}
.margin-auto-0 {
  margin: auto 0;
}