$header_height: 150px;
.project_header {
  background-color: $white;
  height: $header_height;
  box-shadow: $material-shadow;
  .before_button {
    margin-right: 10px;
  }
  .before_button:last-child {
    margin-right: 0;
  }
  button {
    padding: 0 10px !important;
  }
  button div {
    color: $primary;
    font-size: 18px;
  }
  .logo {
    color: $primary;
    font-size: 18px;
  }
}
.first_scroll_body {
  margin-top: 40px;
  color: $white;
  font-size: 22px;
  height: calc(100vh - #{$header_height} - 40px);
  position: relative;
  .first_scroll_body_header {
    font-size: 26px;
  }
  .first_scroll_body_text {
    margin-top: 40px;
    text-align: justify;
  }
}

.first_page {
  height: 100vh
}
.action_button_row {
  position: absolute;
  bottom: 60px;
  .action_button {
    button {
      border: none;
      padding: 10px 20px;
      font-size: 26px;
      background-color: #ff5722;
      box-shadow: $material-shadow;
      transition: all .2s ease-in-out;
      color: $white;
    }
    button:hover {
      transform: scale(1.06);
      box-shadow: $big-material-shadow;
    }
  }
}
.second_scroll {
  position: relative;
  span {
    text-align: center;
  }
}
g.recharts-pie-sector {
  opacity: .9;
}
g.recharts-pie-sector:hover {
  opacity: 1;
  //filter: url(#dropshadow);
}
.piechart_text {
  color: $primary;
  font-size: 24px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.third_scroll {
  .offer_block {
    background-color: $white;
    box-shadow: $material-shadow;
    min-width: 30%;
    color: $primary-dark;
    transition: all .2s ease-in-out;
  }
  .offer_block:hover {
    transform: scale(1.06);
  }
  .offer_block_header {
    background-color: $primary;
    padding: 5px 10px;
    font-size: 24px;
    box-shadow: $material-shadow;
    color: $white;
    text-align: center;
    position: relative;
  }
  .offer_block_body {
    font-size: 24px;
  }
  .offer_block_subheader {
    padding: 5px 10px;
    background-color: $white-accent;
  }
  .offer_block_value {
    padding: 5px 10px 5px 20px;
    color: $primary-dark;
  }
  i {
    font-size: 30px;
    color: $accent-color;
    margin-right: 20px;
  }
  .percentage_icon {
    background-color: $accent-color;
    border-radius: 100%;
    color: white;
    width: 30px;
    height: 30px;
  }
  .blocks_container {
    margin-top: 40px;
  }
}
.fourth_scroll {
  .contact_us_form {
    width: 600px;
    margin-top: 40px;
    div {
      //width: 100% !important;
    }
  }
  input, textarea {
    color: $primary-dark;
  }
}
.registration {
  .icon_block {
    padding: 5px 10px;
  }
  i {
    font-size: 36px;
    color: $primary-dark;
  }
  .actions_block {
    margin-top: 20px;
    button {
      color: $primary-dark !important;
      font-size: 1.1em;
    }
  }
}
.registration_area {
  width: 100px;
  height: 100px;
  padding: 10px 5px;
  overflow: hidden;
  border: 2px solid #00bcd4;
  border-radius: 50%/50%;
  i {
    margin: auto;
    font-size: 50px;
    color: $primary;
  }
}